<h1>Create a New Game</h1>
<%= form_for(@game) do |f| %>
  <ul>
    <% @game.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :release_date %><br />
    <%= f.date_field :release_date %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, options_for_select(Game.categories.keys)%>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, Game.where(category: "main_game").collect{|game| [game.name, game.id]}, include_blank: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Back to Games", games_path %>
