<h1><%= @game.name %></h1>
<p><%= @game.summary %></p>
<ul>
  <li>Rating: <%= @game.rating  %></li>
  <li>Release Date: <%= @game.release_date %></li>
  <li>Plattform(s): <%= @game.platforms.map{|platform|platform.name}.join(", ")%></li>
  <li>Genre(s): <%= @game.genres.map{|genre|genre.name}.join", "%></li>
</ul>
