<h1><%= @company.name %></h1>
<p><%= @company.description %></p>
<ul>
  <li>Description: <%= @company.description  %></li>
  <li>Start_date: <%= @company.start_date %></li>
  <li>Country: <%= @company.country %></li>
</ul>
<%= link_to "Back to Companies", companies_path %>
<%= link_to "Edit This Company", edit_company_path(@company) %>
<%= link_to "Delete This Company", company_path(@company), method: :delete, data:{confirm: "Really delete the company?"} %>
